.profile__button-edit {
    max-width: 150px;
    width: 11.72vw;
    height: 50px;
    background-color: black;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-image: url("./../../../images/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    padding: 0;
}

.profile__button-edit:hover {
    cursor: pointer;
    opacity: 0.6;
} 

@media screen and (max-width: 770px) {
    .profile__button-edit {
        max-width: 420px;
        width: 88.13vw;
        
    }

}