.profile__button-edit {
    width: calc(100vw *(150/1280));
    height: 50px;
    background-color: black;
    border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 2px;
background-image: url("./../../../images/plus.png");
background-repeat: no-repeat;
background-position: center;
align-self: center;
}

.profile__button-edit:hover {
    cursor: pointer;
    opacity: 0.6;
} 

@media screen and (max-width: 610px) {
    .profile__button-edit {

        width: 100%;
        
    }

}