.popup__container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    max-width: 430px;
    padding: 34px 64px 37px 64px;
    background-color: white;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    
}

@media screen and (max-width: 610px) {
    .popup__container {
        padding: 25px 22px 25px 22px;
        min-width: 282px;
      
        
    }

}