.profile {
    width: 68.75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 36px auto 47px auto;
    font-family: 'Inter';
    color: #FFFFFF;
}


@media screen and (max-width: 770px) {
    .profile {
        
        flex-direction: column;
        margin: 38.25px auto 47px auto;
        
    }

}