.elements {
    padding-inline-start: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
}

@media screen and (max-width: 610px) {
    .elements {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

}