.popup__profile-subtitle {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 48px;
    padding: 0 0 9px 0;
}

@media screen and (max-width: 610px) {
    .popup__profile-subtitle {
        margin-bottom: 45px;

    }

}